---
import { SwipeCard } from "../components/SwipeToRevealCard";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex flex-col items-center justify-center h-screen">
        <SwipeCard client:load />
    </div>
</Layout>
