---
import Layout from "@/layouts/Layout.astro";
import type { Player } from "@/interfaces";
import { SwipeCard } from "@/components/SwipeToRevealCard";

export const prerender = false;

const { slug } = Astro.params;

const players = (await Astro.session?.get("players")) as Player[];
console.log("Players in session:", players);

const currentPlayer = players.find((player) => player.name === slug);

if (!currentPlayer) {
    return Astro.redirect("/");
}
---

<Layout title={`Turno de ${currentPlayer.name}`}>
    <div class="flex flex-col justify-center items-center h-screen gap-3">
        <SwipeCard
            client:load
            name={currentPlayer.name}
            isImpostor={currentPlayer.isImpostor}
        />
        <a
            href={`/game/${currentPlayer.nextPlayer === "-1" ? "" : encodeURIComponent(currentPlayer.nextPlayer)}`}
            class="bg-muted hover:bg-muted/80 text-muted-foreground px-6 py-3 rounded-lg font-semibold"
        >
            Siguiente jugador
        </a>
    </div>
</Layout>
