---
import { MyButton } from "@/components/MyButton";
import PressToReveal from "@/components/PressToReveal";
import Layout from "@/layouts/Layout.astro";

const randomPlayerToStart = (await Astro.session?.get(
    "randomPlayerToStart",
)) as string;

const players = ((await Astro.session?.get("players")) as string[]) || [];
---

<Layout title="Traitor Royale">
    <div class="flex flex-col items-center justify-center min-h-screen gap-24">
        <h1>Que empiece el juego {randomPlayerToStart}</h1>
        <PressToReveal client:load />
        <div>
            <MyButton text="Empezar de nuevo" />
            <MyButton text="Reiniciar juego" />
        </div>
    </div>
</Layout>
